
<app-menu></app-menu>

<router-outlet></router-outlet>


<!-- <div class="text-layout">
  <h1>{{name | titlecase}}</h1>
  <h1>{{value | number}}</h1>
  <h1>{{obj | json}}</h1>
</div>


<button 
  pButton 
  (click)="showName()"
  icon="pi pi-bell"
  iconPos="right" 
  class="p-button-help"
  label="Change name">
</button>

<p-card 
  [header]="name | titlecase"
  subheader="Esto es un subheader"
>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, 
  culpa ratione quam perferendis esse, cupiditate neque quas!
</p-card> -->

